<!DOCTYPE html>
<html>
   <head>
      <title>Chat With Mycroft</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Mycroft Helper</title>
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="css/app.css">
	  <link rel="stylesheet" type="text/css" href="css/chatBubble.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <style>
         #received { 
         width: 100%; 
         height: 300px; 
         /* border: 2px solid; */
         overflow-y:scroll;
         border-radius: 15px;
         box-shadow: 10px 10px 5px #888888;
         /*
         background: -webkit-linear-gradient(315deg, #55efcb 0%, #1e5799 0%, #55efcb 0%, #5bcaff 90%);
         background: linear-gradient(135deg, #55efcb 0%, #1e5799 0%, #55efcb 0%, #5bcaff 100%);
         */
         background: #333333;
         font-family: 'Lato', sans-serif;
         font-size: 16px;
         padding-left: 10px;
         }
      </style>
      <script src="js/angular.js"></script>
      <script src="js/chatApp.js"></script>
   </head>
   <body style="background-color:skyblue;" ng-app="ChatApp" ng-controller="ChatController">
      <nav class="navbar navbar-default">
         <div  class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">Mycroft Helper</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li><a href="#">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="failed_intents.html">Failed Intents</a></li>
                  <li class="active"><a href="chatbot.html">Chat With Mycroft</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Sign Up <i class="fa fa-user-plus"></i></a></li>
                  <li><a href="#">Login <i class="fa fa-user"></i></a></li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>
      <div panel-body>
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <form id="IPForm">
                  <div class="form-group">
                     <label for="enterIP">IP Address to Connect to</label>
                     <input type="text" ng-model="ConnectionIP" class="form-control" id="enterIP">
                  </div>
               </form>
            </div>
         </div>
         <div class="col-md-8 col-md-offset-2">
            <div>
               <div id="profile-success" class="panel-success" style="display: none;"></div>
               <div id="profile-error" class="panel-error" style="display: none;"></div>
               <!--
                  <div class="panel-text">
                    <h2>Mycroft Web Client</h2>
                  </div>
                  -->
            </div>
            <div class="row">
               <div class="panel-body">
                  <div class="panel-body-title">
                     <h2>Mycroft Web Client</h2>
                  </div>
               </div>
            </div>
            <div class="row panel-body">
               <div class="col-sm-5" style="background-color:antiquewhite;height:500px;" id="enclosure">
                  Image of enclosure space here or enclosure text
               </div>
               <div class="col-sm-5"   id="help">
                  <div ng-show="ShowHelp" style="background-color:burlywood;border-radius:8px;">
                      Hello how may I help you?
					  <br/>
					  Some things I can answer are:
					  <br/>
					  <br/>
					  What time is it
					  <br/>
					  What is the weather
					  <br/>
					  Where is the documentation
					  <br/>
					  Tell me a joke
					  <br/>
                  </div>
                  <br>
                  <div style="background-color:antiquewhite;border-radius:8px;text-align:center;">Chat Results: </div>
                  <div class="form-group" style="background-color:antiquewhite; border-radius:8px;" id="response">
                     <ul>
                        <li ng-repeat="response in Responses">
                           <div class="talk-bubble tri-right border round {{response.type}} {{response.classText}} " >
                                <div class="talktext">                          
 						        <p>{{response.data.utterance}}</p>
						        </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
			<div class="row">
			    <div style="border-radius:8px;background-color:antiquewhite;text-align:left;" class="col-md-8">
			        Status: {{ChatStatus}}					
			    </div>
			</div>
            <div class="row">
               <div class="col-md-6">
                  <br>
                  <button class="btn btn-primary btn-round-lg btn-lg" ng-click="Clear()" id="clear">Clear</button>
                  <button class="btn btn-primary btn-round-lg btn-lg" ng-click="Stop()" id="stop">Stop</button>
                  <button class="btn btn-primary btn-round-lg btn-lg" ng-click="ShowHelpCmd()" id="stop">{{HelpText}}</button>
               </div>
			</div>
			<div class="row">
			   <div class="col-md-3">
			   </div>
               <div class="col-md-12">
                  <form class="panel-body" id="profile-form">
                     <div class="col-sm-3">
                        <label >Send to Mycroft</label>
                     </div>
                     <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="ChatText" id="cmd_value">
                     </div>
                     <div class="col-sm-3">
                        <button ng-click="Submit()" class="btn btn-primary btn-round-lg btn-lg" id="cmd_send">Submit</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>